//Copyright (C)2014-2019 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: V1.9.1.01Beta
//Part Number: GW1N-LV4LQ144C6/I5
//Created Time: Mon Sep 16 20:24:17 2019

IO_LOC "key" 31;

IO_LOC "clk" 22;
IO_LOC "dig[0]" 48;
IO_LOC "dig[1]" 46;
IO_LOC "dig[2]" 44;
IO_LOC "dig[3]" 42;
IO_LOC "smg[0]" 1;
IO_LOC "smg[1]" 39;
IO_LOC "smg[2]" 40;
IO_LOC "smg[3]" 41;
IO_LOC "smg[4]" 43;
IO_LOC "smg[5]" 45;
IO_LOC "smg[6]" 47;
IO_LOC "smg[7]" 2;

IO_PORT "clk"  IO_TYPE=LVCMOS18;
IO_PORT "key"  IO_TYPE=LVCMOS25;
IO_PORT "dig[0]"  IO_TYPE=LVCMOS25;
IO_PORT "dig[1]"  IO_TYPE=LVCMOS25;
IO_PORT "dig[2]"  IO_TYPE=LVCMOS25;
IO_PORT "dig[3]"  IO_TYPE=LVCMOS25;
IO_PORT "smg[0]"  IO_TYPE=LVCMOS25;
IO_PORT "smg[1]"  IO_TYPE=LVCMOS25;
IO_PORT "smg[2]"  IO_TYPE=LVCMOS25;
IO_PORT "smg[3]"  IO_TYPE=LVCMOS25;
IO_PORT "smg[4]"  IO_TYPE=LVCMOS25;
IO_PORT "smg[5]"  IO_TYPE=LVCMOS25;
IO_PORT "smg[6]"  IO_TYPE=LVCMOS25;
IO_PORT "smg[7]"  IO_TYPE=LVCMOS25;
