//Copyright (C)2014-2019 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: V1.9.2.02Beta
//Part Number: GW1N-LV4LQ144C6/I5
//Created Time: Tue 01 14 11:44:09 2020
IO_LOC "bm[0]" 32;
IO_PORT "bm[0]" IO_TYPE=LVCMOS25 PULL_MODE=NONE;
IO_LOC "bm[1]" 30;
IO_PORT "bm[1]" IO_TYPE=LVCMOS25 PULL_MODE=NONE;
IO_LOC "bm[2]" 28;
IO_PORT "bm[2]" IO_TYPE=LVCMOS25 PULL_MODE=NONE;
IO_LOC "bm[3]" 8;
IO_PORT "bm[3]" IO_TYPE=LVCMOS25 PULL_MODE=NONE;

IO_LOC "key_in_led[0]" 35;
IO_PORT "key_in_led[0]" IO_TYPE=LVCMOS25;
IO_LOC "key_in_led[1]" 34;
IO_PORT "key_in_led[1]" IO_TYPE=LVCMOS25;
IO_LOC "key_det_led" 33;
IO_PORT "key_det_led" IO_TYPE=LVCMOS25;

IO_LOC "smg[7]" 2;
IO_PORT "smg[7]" IO_TYPE=LVCMOS25 PULL_MODE=NONE DRIVE=8;
IO_LOC "smg[6]" 47;
IO_PORT "smg[6]" IO_TYPE=LVCMOS25 PULL_MODE=NONE DRIVE=8;
IO_LOC "smg[5]" 45;
IO_PORT "smg[5]" IO_TYPE=LVCMOS25 PULL_MODE=NONE DRIVE=8;
IO_LOC "smg[4]" 43;
IO_PORT "smg[4]" IO_TYPE=LVCMOS25 PULL_MODE=NONE DRIVE=8;
IO_LOC "smg[3]" 41;
IO_PORT "smg[3]" IO_TYPE=LVCMOS25 PULL_MODE=NONE DRIVE=8;
IO_LOC "smg[2]" 40;
IO_PORT "smg[2]" IO_TYPE=LVCMOS25 PULL_MODE=NONE DRIVE=8;
IO_LOC "smg[1]" 39;
IO_PORT "smg[1]" IO_TYPE=LVCMOS25 PULL_MODE=NONE DRIVE=8;
IO_LOC "smg[0]" 1;
IO_PORT "smg[0]" IO_TYPE=LVCMOS25 PULL_MODE=NONE DRIVE=8;
IO_LOC "dig[3]" 42;
IO_PORT "dig[3]" IO_TYPE=LVCMOS25 PULL_MODE=NONE DRIVE=8;
IO_LOC "dig[2]" 44;
IO_PORT "dig[2]" IO_TYPE=LVCMOS25 PULL_MODE=NONE DRIVE=8;
IO_LOC "dig[1]" 46;
IO_PORT "dig[1]" IO_TYPE=LVCMOS25 PULL_MODE=NONE DRIVE=8;
IO_LOC "dig[0]" 48;
IO_PORT "dig[0]" IO_TYPE=LVCMOS25 PULL_MODE=NONE DRIVE=8;

IO_LOC "key_det" 9;
IO_PORT "key_det" PULL_MODE=UP;
IO_LOC "key_in[1]" 29;
IO_PORT "key_in[1]" PULL_MODE=UP;
IO_LOC "key_in[0]" 31;
IO_PORT "key_in[0]" PULL_MODE=UP;
IO_LOC "clk" 22;
IO_PORT "clk" PULL_MODE=UP;
