//Copyright (C)2014-2021 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: 1.9.7.03Beta
//Part Number: GW1NSR-LV4CQN48PC7/I6
//Device: GW1NSR-4C
//Created Time: Thu 05 13 14:10:11 2021

IO_LOC "smg[7]" 2;
IO_PORT "smg[7]" IO_TYPE=LVCMOS25 PULL_MODE=NONE DRIVE=8;
IO_LOC "smg[6]" 47;
IO_PORT "smg[6]" IO_TYPE=LVCMOS25 PULL_MODE=NONE DRIVE=8;
IO_LOC "smg[5]" 45;
IO_PORT "smg[5]" IO_TYPE=LVCMOS25 PULL_MODE=NONE DRIVE=8;
IO_LOC "smg[4]" 43;
IO_PORT "smg[4]" IO_TYPE=LVCMOS25 PULL_MODE=NONE DRIVE=8;
IO_LOC "smg[3]" 41;
IO_PORT "smg[3]" IO_TYPE=LVCMOS25 PULL_MODE=NONE DRIVE=8;
IO_LOC "smg[2]" 40;
IO_PORT "smg[2]" IO_TYPE=LVCMOS25 PULL_MODE=NONE DRIVE=8;
IO_LOC "smg[1]" 39;
IO_PORT "smg[1]" IO_TYPE=LVCMOS25 PULL_MODE=NONE DRIVE=8;
IO_LOC "smg[0]" 1;
IO_PORT "smg[0]" IO_TYPE=LVCMOS25 PULL_MODE=NONE DRIVE=8;
IO_LOC "dig[3]" 42;
IO_PORT "dig[3]" IO_TYPE=LVCMOS25 PULL_MODE=NONE DRIVE=8;
IO_LOC "dig[2]" 44;
IO_PORT "dig[2]" IO_TYPE=LVCMOS25 PULL_MODE=NONE DRIVE=8;
IO_LOC "dig[1]" 46;
IO_PORT "dig[1]" IO_TYPE=LVCMOS25 PULL_MODE=NONE DRIVE=8;
IO_LOC "dig[0]" 48;
IO_PORT "dig[0]" IO_TYPE=LVCMOS25 PULL_MODE=NONE DRIVE=8;
IO_LOC "button[3]" 9;
IO_PORT "button[3]" PULL_MODE=UP;
IO_LOC "button[2]" 27;
IO_PORT "button[2]" PULL_MODE=UP;
IO_LOC "button[1]" 29;
IO_PORT "button[1]" PULL_MODE=UP;
IO_LOC "button[0]" 31;
IO_PORT "button[0]" PULL_MODE=UP;
IO_LOC "clk" 22;
IO_PORT "clk" PULL_MODE=UP;
